[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/ValueTransformers"]
	path = Submodules/ValueTransformers
	url = https://github.com/macmade/ValueTransformers.git
